<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height">
    <title>Your Interview Summary</title>
    <script language="JavaScript"
	    type="text/javascript"
	    src="{{ url_for('static', filename='score.js') }}"></script> 
    <!--script type="text/javascript"
	    src="{{ url_for('static', filename='jsPDF/jspdf.js') }}"></script>
    <script type="text/javascript"
	    src="{{ url_for('static', filename='jsPDF/jspdf.plugin.addimage.js') }}"></script>
    <script type="text/javascript"
	    src="{{ url_for('static', filename='jsPDF/jspdf.plugin.split_text_to_size.js') }}"></script>
    <script type="text/javascript"
	    src="{{ url_for('static', filename='jsPDF/libs/FileSaver.js/Filesaver.min.js') }}"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
      $.getJSON("{{url_for('show_conversation', num=num) }}",
        function(data){
          score(data['raw_score']);
        });
      });
    </script>
  </head>
  <body>

  </body>
</html>
